@define-color color1 #0C0C0C;
@define-color color2 rgba(22,22,22,0.9);
@define-color color222 rgba(22,22,22,0.9);
@define-color color22 rgba(22,22,22,0.9);
/*@define-color color3 #c2c2c2;*/
@define-color color3 rgba(80,172,206,0.5);          /*#50A2CE;*/
@define-color color4 rgba(52,146,225,0.5); /*#9e71b1; #;*/
@define-color color6 #2c54cc;
@define-color color66 rgba(44,84,204,0.2);
@define-color color5 rgba(200,200,200,0.3);             /*#3492E1; #4c2553;*/
@define-color color55 rgba(220,220,220,0.5);
@define-color colorMorado rgba(158,113,177,0.8);
@define-color colorMoradoTransparente rgba(76,37,83,0.4);
@define-color color7 #c2c2c2; 
@define-color color8 #6a5757;
@define-color color9 #2F6FDB;
@define-color color10 #4E6BD1;
@define-color color11 #2B8BD6;

* {
    border: none;
    border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 15px;
    min-height: 10px;
}

window {}

window#waybar {
    background-color: transparent;
    border-radius: 15px;
    margin-top: 6px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}

#workspaces {
    margin: 6px 6px 6px 6px;  
    border-radius: 10px;
    background: @color22;
    transition: none;
    padding-left: 12px;
    padding-right: 6px;
    border: 1px solid @color66;
}

#workspaces button {
    transition: none;
    color: @color4;
    background: transparent;
    margin-right: 10px;
}

#workspaces button.persistent {
    transition: none;
    color: @color4;
    background: transparent;
}

#workspaces button.empty {
    color: @color5;
    transition: none;
    background: transparent;
}

#workspaces button.active {
    transition: none;
    color: @color6;
    background: transparent;
}

#network,
#backlight,
#pulseaudio,
#battery,
#clock,
#memory,
#disk,
#cpu,
#tray,
#battery,
#custom-launcher {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: none;
    color: @color55;
    border: 1px solid @color5;
    background: @color222;    
  }

  
#network,
#backlight,
#pulseaudio,
#battery,
#memory,
#disk,
#tray,
#battery{
      border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0,0,0,1);
}

#memory,
#clock,
#custom-launcher{
      color: @color4;
    border: 1px solid @color66;

}
#battery.charging, #battery.plugged {
    color: @color55;
}

#battery.critical:not(.charging) {
    background-color: @color55; /* 6 */
    color: red; /*color 6*/
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @color9;
    }
}

#clock {
    margin-right: 0px;
}

#memory {
    margin: 6px 0px 6px 8px;
}

#disk,
#cpu,
#tray,
#custom-launcher {
    padding-left: 10px;
    padding-right: 10px;
}

#custom-power {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 14px;
    margin-bottom: 6px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: none;
    color: @color4;
    background: @color2;    
    border: 1px solid @color66;

}

#custom-updates {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: @color6;
    background: @color10;
}

#custom-media {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: @color6;
    background: @color11;
}
